{
    "token": "ghp_the-random-sequence-of-characters-in-your-token",
    "organization": "organization_name"
    "exclude_repositories": [
        "repository_name",
        "other_repository_name"
    ],
    "aliases": {
        "John Doe": [
            "John Doe",
            "johndoe"
        ],
        "Jane Doe": [
            "Jane Doe",
            "janedoe"
        ]
    }
}